MultiLangExperiment/NetClient/MqExperiments/packages/
MultiLangExperiment/NetClient/MqExperiments/MqExperiments.NanoMsgEchoClient/bin/
MultiLangExperiment/NetClient/MqExperiments/MqExperiments.NanoMsgEchoClient/obj/
MultiLangExperiment/NetClient/MqExperiments/MqExperiments.NanoMsgEchoClient/x64/
MultiLangExperiment/NetClient/MqExperiments/MqExperiments.NanoMsgEchoClient/x86/
